@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Colours */
:root{
    --color-primary: #925fe2;
    --color-secondary: #6d4ea1;
    --color-backgound: #d9c7f2;
    --color-background-form: #fff;
    --color-text-primary: #000;
    --color-text-secondary: #656565;
    --color-border: #cdcdcd;
    --color-buttom-text: #fff;
    --color-icon-google: #d84437;
    --color-icon-facebook: #426782;
    --color-title: #f7f3f4;
}



/* body-login*/
#login-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-backgound);

}

/* formulario de inicio de secion*/
.container{
    display: grid;
    grid-template-columns: 4.2fr 5fr 0.8fr;
    align-items: center;
    width: 57.25rem;
    height: 31rem;
}

.forms-container{
    height: 100%;
    background-color: var(--color-background-form);
    overflow: hidden;

}

.banner{
    height: 115%;
    overflow: hidden;
    position: relative;
    padding: 5rem 2rem 0 2rem;
    background-color: var(--color-primary);
}

.banner h1{
    color: var(--color-title);
    font-size: 3rem;
    line-height: 0.9;
}
.banner h1 span{
    display: block;
    font-weight: 500;
}

.banner p{
    color: var(--color-background-form);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.banner img{
    position: absolute;
    bottom: 2rem;
    right: -2rem;
    width: 95%;
}


/* shapes */
.shape{
    background-color: white;
    border-radius: 50%;
    opacity: 0.2;
    position: absolute;
}

.shape1{
    height: 12.5rem;
    width: 12.5rem;
    left: 20rem;
    top: 1.25rem;
}

.shape2{
    width: 28rem;
    height: 28rem;
    bottom: -10rem;
    right: -10rem;
}

.shape3{
    width: 18rem;
    height: 15rem;
    left: -10rem;
    top: 10.5rem ;
}

.sidebar{
    background-color: var(--color-background-form);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    user-select: none;
}

.sidebar::after{
    content: '';
    background-color: var(--color-primary);
    height: 50%;
    width: 0.3rem;
    position: absolute;
    right: 0;
    right: 0;
    top: 0;
}

.sidebar .sign{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    cursor: pointer;
}


.sidebar img{
    width: 1.5rem;
}

.sidebar span{
    color: var(--color-text-secondary);
    font-size: 1.5rem;
}

/*  */
form{
    padding: 1.8rem;
}

form p{
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--color-text-secondary);
    margin-top: 0.3rem;
    margin-bottom: 1.8rem;
}

form p a{
    color: var(--color-primary);
    font-weight: 700;
}

/* input container*/
.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

.input-container input{
    padding: 0.7rem;
    border: 2px solid var(--color-border);
    border-radius: 0.4rem;
    outline: none;
}

.input-contaier label, .input-contaier a{
    font-size: 0.8rem;
    font-weight: 600;
}

.input-container a{
    color: var(--color-primary);
}

.input-contaier .forget{
    display: flex;
    justify-content: space-between;
}

.remember-me{
    display: flex;
    gap: 0.3rem;
    margin-bottom: 1.7rem;
}

.remember-me label{
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    font-weight: 500;

}

form button{
    width: 100%;
    padding: 0.9rem 0;
    background-color: var(--color-secondary);
    color: var(--color-buttom-text);
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

form .btno-registrar{
    margin-top: 1.5rem;
}

.line-width-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    font-size: 0.8rem;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
}

.line-width-text::before, .line-width-text::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--color-border);
    margin: 0 0.6rem;
}

.other-login{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.other-login a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
    font-weight: 700;
    padding: 0.6rem 1.5rem;
    border-radius: 0.4rem;
    text-decoration: none;
}

.other-login .google{
    border: 1px solid var(--color-icon-google);
    color: var(--color-icon-google);
    cursor: pointer;

}

.other-login .facebook{
    border: 1px solid var(--color-icon-facebook);
    color: var(--color-icon-facebook);
    cursor: pointer;
}


.other-login img{
    width: 1rem;
}

/* Barra de menu */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul{
    display: flex;
    padding-top: 30px;
    align-items: center;
    margin-right: 20px;
    gap: 90px;
    list-style: none;
}

nav li{
    font-size: 0.9rem;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: #000;
    color: rgb(var(--txt, var(--color_15, color_15)));
    display: inline-block;
    padding: 0 10px;
    transition: var(--trans, color .4s ease 0s);
}

nav a:hover{
    color: #eaa46b;
}

li a i{
    padding-left: 10px;
    font-size: 1.2rem;
}

.login{
    text-transform: none;
}


.logo{
    margin: 0 100px;
    padding-top: 28px;
}


